<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Estudiante</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Formulario de Estudiante</h2>
    <form action="#" th:action="@{/estudiante}" th:object="${estudiante}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Ingrese nombre">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" th:field="*{apellido}" class="form-control" id="apellido" placeholder="Ingrese apellido">
        </div>
         <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="text" th:field="*{edad}" class="form-control" id="edad" placeholder="Ingrese su edad">
        </div>
         <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input type="text" th:field="*{direccion}" class="form-control" id="direccion" placeholder="Ingrese su direccion">
        </div>
        <div class="form-group">
            <label for="curso">Curso:</label>
            <input type="text" th:field="*{curso}" class="form-control" id="curso" placeholder="Ingrese su curso">
        </div>
        
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
</body>
</html>